.person {
    max-width: 100%;

    padding-top: 76px;

    .go__back {
        position: absolute;
        top: 25px;
        left: 54px;

        font-family: 'Karla', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;

        color: #000000;

        cursor: pointer;

        background-color: #FFFFFF;
        border: none;

        span {
            padding-left: 12px;
        }
    }

    .person__name {
        margin-top: 16px;
        margin-bottom: 48px;

        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        line-height: 56px;
        text-align: center;

        color: #081F32;
    }

    .person__information {
        color: #8E8E93;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.15px;

        text-align: center;
        
        margin-bottom: 57px;
    }    

    .avatar {
        width: 300px;
        height: 300px;

        margin: 0 auto;

        img {
            border-radius: 50%;
        }
    }

    .person__info {
        max-width: 413px;
        margin: 0 auto;
    }

    .info__list {
        padding-bottom: 142px;

        li {
            padding-top: 9px;
            padding-bottom: 12px;

            list-style: none;
            border-bottom: 1px solid rgba(33, 33, 33, 0.08);
            mix-blend-mode: normal;

            h3 {
                font-size: 16px;
                font-weight: 700;

                line-height: 24px;
                letter-spacing: 0.15px;
                color: #081F32;
            }

            span {
                color: #6E798C;

                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;

                letter-spacing: 0.25px;
            }
        }
    }
}


@media screen and (max-width: 640px) {
    .person {
    
        padding-top: 124px;

        .go__back {
            
            left: 25px;

            span {

            }
        }
    
        .person__name {
            font-size: 32px;
            line-height: 38px;
            font-weight: normal;

            margin-top: 34px;
            margin-bottom: 34px;
        }
    
        .person__information {
            margin-bottom: 25px;

            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.15px;

            padding-left: 24px;
        }    
    
        .avatar {
            max-width: 240px;
            height: 240px;

            img {
                max-width: 100%;
            }
        }
    
        .person__info {
        }
    
        .info__list {

            max-width: 264px;
            margin: 0 auto;

            padding-bottom: 85px;

            li {
    
                h3 {
                    font-weight: 700;
                }
    
                span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.25px;
                }
            }
        }
    }
}

@media screen and(max-width: 312px) {
    .person {
        .person__information {
            text-align: left;
        }

        .avatar {
            max-width: 150px;
            height: 150px;

            img {
                max-width: 100%;
            }
        }
    }
}