.logout {
    z-index: 2;

    display: flex;

    position: fixed;
    top: 10px;
    left: 10px;

    color: #256c82;

    transition: all .2s ease;
    cursor: pointer;

    svg {
        width: 25px;
    }

    svg:hover {
        color: #0d2830;
    }

    .popup {
        padding-left: 35px;

        span {
            padding-right: 20px;
        }

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #256c82;
        
            transition: all .2s ease;
        }
        
        button:hover {
            color: #0d2830;
        }
    }
}

