.group {
    max-width: 1020px;
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    backdrop-filter: blur(10px);

    img {
        max-width: 100%;
    }
}

@media screen and(max-width: 1020px) {
    .group {
        justify-content: space-around;
    }   
}